@use "@styles/color";

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.container {
  box-sizing: border-box;
  width: 1280px;
  padding: 0 32px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
}

// logo
.logoContainer {
  flex: 1 0 0;
  display: flex;
  align-items: center;
}

.logo {
  width: 118px;
  height: 33px;
}

// nav
.navContainer {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.navLink {
  color: color.$gray-500;
  text-decoration: none;
  font-weight: 500;
}

// dashboard link
.dashboardLinkContainer {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-end;
}

.dashboardLink {
  text-decoration: none;
  background: color.$primary-600;
  border-radius: 8px;
  padding: 10px 18px;
  border: 1px solid color.$primary-600;
  box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  color: white;
  font-weight: 500;
  line-height: 24px;
}

.contactButton {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1rem;
  background: #7f56d9;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border: none;
  cursor: pointer;

  &:hover {
    background: #6941c6;
  }
}
